.top-banner {
  background: linear-gradient(to right, #0a8aad, #1ba653);
  color: white;
  padding: 10px 20px;
}

.bannerContent {
  color: white;
  font-size: 30%;
}

button {
  color: #1ba653;
  border-radius: 40% !important;
  background-color: white;
}

button img {
  max-width: 20px;
}

.bannerIcon,
img {
  max-width: 20px;
}
